body {
  font-size: 1.2em;
  font-family: georgia, serif, bold;
  background-image: linear-gradient(to bottom, #3c3c5e, #353554);
  background-color: #afafd4;
  color: #afafd4;
  height:50em;
  letter-spacing: 0.6em;
}

h2 {
  font-family: georgia, serif, bold;
  color: #c2c2e2;
  text-align: center;
}

button {
  height: 2.2em;
  width: 5.6em;
  margin-right: 4em;
  text-align: center;
  font-size: 2em;
  font-family: Verdana, sans-serif, bold;
  color: #afafd4;
  background-color: #1d2048;
  border-radius: 0.6em;
  border-width: thin;
  border-color: #1d2048;
}

.box {
  border: solid;
  border-color: #afafd4;
  margin-top: 1.4em;
}
